doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" type="text/css" href="/css/bootstrap/css/style.css")
    link(rel="stylesheet" type="text/css" href="/aboutus.css")
    link(rel="stylesheet" type="text/css" href="/css/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="carousel/infinite-slider.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    // links for sales cards
    // stylesheet
    link(rel="stylesheet" type="text/css" href="/sales.css")
    // light-slider.css
    link(rel="stylesheet" type="text/css" href="/css/bootstrap/css/lightslider.css")
    title U-FARM
  body
    div(w3-include-html="/includes/nav.html")
    .container(id="horticu")
      .row 
        .col-12 
          h2.text-center HORTICULTURE PRODUCTS
    br
    section.sliderx(action="/horticulture/horticulture" method="POST" enctype="multipart/form-data")
      ul.autoWidth 
        // 1------------------------
        li.item-a
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/floral.jpg" alt="floral")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Green Flowers.
                span Scenaric green flowers with nature blend.
              // price
              a.price(href="#") Ugx.23,000
        // 2------------------------
        li.item-b
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/hanging-plants.jpg" alt="hanging plants")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Pinklets.
                span Flowers with a bright blend of pink.
              // price
              a.price(href="#") Ugx.20,000
        // 3------------------------
        li.item-c
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/redrose.jpg" alt="red roses")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Roses.
                span Bright scented pink flowers.
              // price
              a.price(href="#") Ugx.23,000
        // 4------------------------
        li.item-d
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/green.jpg" alt="green flowers")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Exterior flowers.
                span Flowers that blend in the exterior view of Home.
              // price
              a.price(href="#") Ugx.27,000
    br
    // DAIRY
    .container(id="dairy")
      .row
        .col-12
          h2.text-center DAIRY 
    section.sliderx
      ul.autoWidth
        // 1------------------------
        li.item-a
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/milk-ch.jpg" alt="chocolate")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Choco Bar
                span Sweet fruitful tasting choclate.
              // price
              a.price(href="#") Ugx.23,000
        // 2------------------------
        li.item-b
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/milkcho.jpg" alt="milkflakes")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Chocoflakes.
                span Sweet treaties with a wonderful taste.
              // price
              a.price(href="#") Ugx.20,000
        // 3------------------------
        li.item-c
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/milk.jpg" alt="milk")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Strawberry Milk.
                span Natural blend of Strawberry milk.
              // price
              a.price(href="#") Ugx.23,000
        // 4------------------------
        li.item-d
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/chocomilk.jpg" alt="chocomilk")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Coco Milk.
                span Creamy milk with Choco flavour.
              // price
              a.price(href="#") Ugx.27,000
              br
    // POULTRY
    .container(id="poult")
      br
      .row
        .col-12
          h2.text-center POULTRY
    br
    br
    section.sliderx
      ul.autoWidth
        // 1------------------------
        li.item-a
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/chicks.jpg" alt="chicks")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Chicks
                span Well Fed Chicks .
              // price
              a.price(href="#") Ugx.23,000
        // 2------------------------
        li.item-b
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/layers.jpg" alt="layers")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Layers.
                span Layer Breeds of Hens available for egg laying.
              // price
              a.price(href="#") Ugx.20,000
        // 3------------------------
        li.item-c
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/eggs.jpg" alt="eggs")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Eggs.
                span Nutritious delicious & fantastic egss on sale.
              // price
              a.price(href="#") Ugx.23,000
        // 4------------------------
        li.item-d
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/poultry.jpg" alt="generator")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Poultry
                span Well fed Healthy Poultry birds on sale.
              // price
              a.price(href="#") Ugx.27,000
    // ALL CATEGORIES
    .container
      br
      .row
        .col-12
          h2.text-center ALL CATEGORIES
    br
    br
    section.sliderx
      ul.autoWidth
        // 1------------------------
        li.item-a
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/milkbar.jpg" alt="milk bars")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Milk Bars
                span Exciting and enriching flavour .
              // price
              a.price(href="#") Ugx.23,000
        // 2------------------------
        li.item-b
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/choco-shake.jpg" alt="shake")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Choco Shake.
                span Favored milk with chocolate rolls.
              // price
              a.price(href="#") Ugx.20,000
        // 3------------------------
        li.item-c
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/eggs.jpg" alt="eggs")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Eggs.
                span Nutritious delicious & fantastic egss on sale.
              // price
              a.price(href="#") Ugx.23,000
        // 4------------------------
        li.item-d
          // box slider
          .box
            // img-box
            .slide-img
              img(src="/img/salesimg/poultry.jpg" alt="generator")
              // overlayer
              .overlay
                // but-btn
                a(onclick="openPopup('#wrap_popup1')") Purchase
            // detail-box
            .detail-box
              // type
              .type
                br
                a(href="#") Poultry
                span Well fed Healthy Poultry birds on sale.
              // price
              a.price(href="#") Ugx.27,000
                          each product in products
                            li.item-c
                              // box slider
                              .box
                                // img-box
                                .slide-img
                                  img(src="/"+product.uploadimage, alt=product.names)
                                  // overlayer
                                  .overlay
                                    // but-btn
                                    a(onclick="openPopup('#wrap_popup1')") Purchase
                                // detail-box
                                .detail-box
                                  // type
                                  .type
                                      br
                                      a(href="#") #{product.names}
                                      span #{product.description}
                                  // price
                                  a.price(href="#") Ugx.#{product.price}
    <div class="footer container-fluid text-center" style="background-color: black;">
      <div class="footer-content">
      <div class="footer-section about">
        <h5>OUR PARTNERS</h5>
            <div class="container">
                <!-- Infinite Slider -->
                <section class="customer-logos slider">
                <div class="slide"><img src="img/vege.jpg"></div>
                <div class="slide"><img src="img/organic.jpg"></div>
                <div class="slide"><img src="img/bpa.jpg"></div>
                <div class="slide"><img src="img/eco.jpg"></div>
                <div class="slide"><img src="img/berry.jpg"></div>
                <div class="slide"><img src="img/farm.jpg"></div>
                <div class="slide"><img src="img/mmar.jpg"></div>
                <div class="slide"><img src="img/Green House Logo-01.jpg"></div>
                </section>
            </div>
      </div>
        <div class="footer-section links">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-header center">
                    ADMIN PANEL<i class="fas fa-user-astronaut"></i>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="/adminsignin/adminsignin"><i class="fa fa-id-card"></i> AGRICULTURAL OFFICER</a></li>
                  <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="/agricsignin/agricsignin"><i class="fa fa-id-card"></i> WARD 1 / FARMER ONE </a></li>
                  <!-- <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="#"><i class="fa fa-id-card"></i> WARD 2 / FARMER ONE</a></li>
                  <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="#"><i class="fa fa-id-card"></i> WARD 3 / FARMER ONE</a></li>
                  <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="#"><i class="fa fa-id-card"></i> WARD 4 / FARMER ONE</a></li> -->
                  <li class="list-group-item" style="background-color:rgb(0, 111, 131);"><a href="/wardOAuthSignInForm/wardOAuthSignInForm"><i class="fa fa-id-card"></i> URBAN FARMER</a></li>
                </ul>
            </div>

            <div class="footer-section contact-form">
              <div class="icon-bar">
                <!-- if u change class to footer-bottom it will affect wen scrren is minimised -->
                <div class="#">
                  |© | U FARM<i class="fab fa-the-red-yeti fa-2x"></i>&#169; 
                </div>
                <a href="#" class="facebook"><i class="fa fa-facebook fa-1x" ></i></a>
                <a href="#" class="twitter"><i class="fa fa-twitter fa-1x"></i></a>
                <a href="#" class="google"><i class="fa fa-google fa-1x"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin fa-1x"></i></a>
                <a href="#" class="youtube"><i class="fa fa-youtube fa-1x"></i></a>
              </div>
            </div>
        </div>
          <div class="#">
            |© | Designed by OKIROR PHILLIP JOTHAM &#169;
          </div>
        </div>
    </div>
    .wrap
                //- | //- 
                //- .intro
                //- | //-     
                //- p
                //- h1 Responsive JQuery Popup
                //- p
                //- |                     //-     
                //- p
                //-     i "Full responsive popup with JQuery using a button to hide it."
                //- br
                //- |                     //-
                //- // Popup action
                //- | //-     
                //- a(onclick="openPopup('#wrap_popup1')") Open 1st Popup
                //- |  | 
                //- |                     //-     
                //- a(onclick="openPopup('#wrap_popup2')") Open 2nd Popup
                //- |      // Popup PopUp Below(Interrupting PUG file)               //-
      
    #wrap_popup1.wrap_popup
        .popup
          .title
            p
              i.fas.fa-phone-square-alt
              |  DIAL IN LINE
              i.fas.fa-headset
              br
              | +256-702-932-565
          .box
            p
              form(name="mydata" action="/booking/booking" method="POST")
                .form-row
                  .col-md-6.mb-3
                    label(for="names") Names
                    input#names.form-control(type="text" name="names")
                    #names_err.error
                  .col-md-6.mb-3
                    label(for="email") Email
                    input#email.form-control(type="email" name="email")
                    #email_err.error
                .form-row
                  .col-md-12.mb-3
                    label(for="date") Check In
                    input#date.form-control(type="date" name="date")
                    #date_err.error
                .form-row
                  .col-md-6.mb-3
                    label(for="product") Product Name
                    input#product.form-control(type="text" name="product")
                    #product_err.error
                  .col-md-6.mb-3
                    label(for="quantity") Quantity
                    input#quantity.form-control(type="text" name="quantity")
                    #quantity_err.error
                .form-row
                  .col-md-6.mb-3
                    label(for="payment") Mode Of Payment
                    select#payment.custom-select(name="payment")
                      option(selected="" value="-- Mode Of Payment --") -- Mode Of Payment --
                      option(value="Cash") Cash
                      option(value="Mobile Money") Mobile Money
                    #payment_err.error
                  .col-md-6.mb-3
                    label(for="delivery") Mode Of Delivery
                    select#delivery.custom-select(name="delivery")
                      option(selected="" value="-- Mode Of Delivery --") -- Mode Of Delivery --
                      option(value="Pickup") Pickup
                      option(value="Home Delivery") Home Delivery
                    #delivery_err.error
                .form-row
                  .col-md-6.mb-3
                    label(for="phoneNumber") Phone Number.
                    input#phoneNumber.form-control(type="text" name="phoneNumber")
                    #phoneNumber_err.error
                  .col-md-6.mb-3
                    label(for="directions") Location
                    input#directions.form-control(type="text" name="directions")
                    #directions_err.error
                center
                  button.btn.btn-primary(type="submit" onclick="purchase()") Order
            center
              button.btn.btn-secondary(style='color="red"' onclick="closePopup('#wrap_popup1')") Close Popup
    // End Popup
            //- |                     // 3------------------------//
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="/query.js")
    script(src="/validatePurchase.js")
    //- div(w3-include-html="/includes/footer.html")
    // Bootstrap being added to js
    script(src="js/bootstrap/js/jquery-3.5.1.slim.min.js")
    script(src="js/bootstrap/js/popper.min.js")
    script(src="js/bootstrap/js/bootstrap.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js")
    // Top navigation bar
    script(src="/includes/nav.js")
    // links for sales cards
    // Jquery
    script(src="/sales.js")
    // lightslider.js
    script(type="text/javascript" src="/js/bootstrap/js/lightslider.js")
    script(type="text/javascript" src="/salesslider.js")
    // End of links for sales Card
    // Footer infinite slider
    script(src="carousel/carousel.js")
    script(src="carousel/slideInc.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    // Slick Slider JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
    // Advanced Font Awesome NB: You used two font awesomes for this project.
    script(src="https://kit.fontawesome.com/496f246847.js" crossorigin="anonymous")
    script(src="/index.js")
    // <script src="routes/registrationform.js"></script>
